

.badge-success {
    --sds-c-badge-color-background: rgb(73, 203, 110);
    --slds-c-badge-text-color: #2c2c2c;
    --slds-c-badge-icon-color-foreground: #f2f2f2;
    --slds-c-badge-text-color: #f2f2f2;
}

.badge-error {
    --sds-c-badge-color-background: rgb(236, 85, 85);
    --slds-c-badge-text-color: #2c2c2c;
    --slds-c-badge-icon-color-foreground: #f2f2f2;
    --slds-c-badge-text-color: #f2f2f2;
}

.icon-style {
    width: 1rem;
    color: #2c2c2c;
}

.rotate-when-active {
    transform: rotate(0deg);
    transition: transform 1s;
}


.rotate-left {
	transform: rotate(-90deg)
}

.rotate-right{
	transform: rotate(90deg)
}
